---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

const BASE = import.meta.env.BASE_URL.endsWith('/') ? import.meta.env.BASE_URL : `${import.meta.env.BASE_URL}/`;
const home = `${BASE}`;
const blog = `${BASE}blog`;
const about = `${BASE}about`;
---

<header>
	<nav>
		<h2><a href={home}>{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href={home}>首页</HeaderLink>
			<HeaderLink href={blog}>文章</HeaderLink>
			<HeaderLink href={about}>关于</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 12px rgba(var(--black), 6%);
		position: sticky;
		top: 0;
		z-index: 10;
	}
	h2 {
		margin: 0;
		font-size: 1.1em;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.6em;
		color: var(--black);
		border-bottom: 3px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		border-bottom-color: var(--accent);
	}
</style>
